### Import Libraries

In [3]:
import os
import pandas as pd

### Read Data

In [6]:
# list all files in Analysis folder
files = os.listdir('Analysis')
print(files)

['wager_digit_span_log.xlsx', 'werbler_digit_span_log.xlsx', 'wilder_digit_span_log.xlsx', 'wraight_digit_span_log.xlsx', 'wrangler_digit_span_log.xlsx']

In [12]:
# create empty dataframe
df_merged = pd.DataFrame()

# loop through all files in Analysis folder and merge them into one dataframe
for file in files:
    df = pd.read_excel('Analysis/' + file)
    df_merged = pd.concat([df_merged, df], ignore_index=True)

In [14]:
df_merged.tail()

,user_name,date,time,session_nr,loop_nr,presented_sequence,recalled_sequence,outcome,mistakes_in_a_row,recall_time_in_s,...,session_time,time_between_digits,memory_method,tiredness,physical_activity,mental_state,motivation,location,session_mode,feedback
3129,wrangler,2023-12-14,22:28:13,23,18,7244283915,NaN,incorrect,2,59.957541,...,00:12:18,0.0,6,8,90,2,2,8,2,NaN
3130,wrangler,2023-12-14,22:29:19,23,19,8334844446,833.0,incorrect,3,56.138906,...,00:13:24,0.0,6,8,90,2,2,8,2,NaN
3131,wrangler,2023-12-14,22:29:42,23,20,118379438,118379438.0,correct,0,14.634831,...,00:13:47,0.0,6,8,90,2,2,8,2,NaN
3132,wrangler,2023-12-14,22:30:50,23,21,5150935382,NaN,incorrect,1,58.396397,...,00:14:55,0.0,6,8,90,2,2,8,2,NaN
3133,wrangler,2023-12-14,22:31:38,23,22,2462511538,246251153.0,incorrect,1,38.087808,...,00:15:43,0.0,6,8,90,2,2,8,2,NaN